th,td{
   font-family: ¸¼Àº °íµñ;
   font-size: 9pt;
}
th{
      font-size: 10pt;
}
a{
   text-decoration: none;
   color: black;
}
a:HOVER {
	text-decoration: underline;
	color:#ccccff;
}
